
.cart-container{
    height: 100%;
    max-height: 100%;
}

.content{
    margin: auto;
    margin-top: 1em;
    width: 80%;
    max-width: 80%;
}

.table-container{
    height: 100%;
}

.product-table{
    width: 100%;
}

.mat-drawer{
    width: 80%;
}